body {
  margin: 0;
  font-family: "Segoe UI", Roboto, sans-serif;
  height: 100vh;
  display: flex;
  background-color: #0d0d0d;
}

#app {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* === LISTA DE CHATS === */

#lista-chats {
  width: 30%;
  background-color: #202c33;
  color: white;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #2a3942;
  overflow: hidden;
}

#barra-superior {
  padding: 15px;
  background-color: #ff00bf;
  font-weight: bold;
  font-size: 1.1rem;
  border-bottom: 1px solid #ff00bf;
}

#busqueda {
  padding: 10px;
  background-color: #111b21;
}

#busqueda input {
  width: 100%;
  padding: 8px 10px;
  border-radius: 6px;
  border: none;
  background-color: #2a3942;
  color: white;
}

.chat-preview {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chat-preview:hover {
  background-color: #2a3942;
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.chat-info h4 {
  margin: 0;
  font-size: 1rem;
}

.chat-info p {
  margin: 0;
  font-size: 0.85rem;
  color: #b9b9b9;
}

/* === CHAT ACTIVO === */

#chat-activo {
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: #0b141a;
  color: white;
  position: relative;
}

/* Header del chat */
#chat-header {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: #290023;
  gap: 10px;
  border-bottom: 1px solid #0159a1;
}

#chat-header h4 {
  margin: 0;
  font-size: 1rem;
}

#chat-header p {
  margin: 0;
  font-size: 0.8rem;
  color: #b9b9b9;
}

/* Lista de mensajes */
#messages {
  list-style: none;
  margin: 0;
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#messages li {
  padding: 10px 15px;
  border-radius: 10px;
  max-width: 60%;
  word-wrap: break-word;
}

.mensaje {
  background-color: #ff00ae;
  align-self: flex-start;
}

.propio {
  background-color: #005c4b;
  align-self: flex-end;
}

/* Input */
#form {
  display: flex;
  padding: 10px 15px;
  background-color: #202c33;
  border-top: 1px solid #2a3942;
  align-items: center;
  gap: 8px;
}

#input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  background-color: #2a3942;
  color: white;
}

#form button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #5f0168;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}

#form button:hover {
  background-color: #4b0041;
}

/* Estilos para botón clip (📎) */
.file-label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 10px;
  font-size: 1.5rem;
  color: white;
  user-select: none;
}

.file-label:hover {
  color: #ff00bf;
}
